<form method="POST" action="/">
    <head>
        <title>Bad-Advice-Bot</title>

        <style>
            body{
                background-color: #BFDBF7;
                color: #053C5E;
                font-family: 'Helvetica', 'Arial', sans-serif;
            }

            hr{
                color:#A31621;
                background-color: #A31621;
                border-color: #A31621;
            }
            .float-left
            {
                float: left;
                display: inline;
                padding-left: 10%;
            }

            .float-right
            {
                float: right;
                display: inline;
                padding-right: 10%;
            }

            h1{
                /*color: #1F7A8C;*/
            }
            div{
                padding-top: 5pt;
                padding-bottom: 5pt;
            }

        </style>
    </head>

    <body>
        <div>
            <div id="botText" class="float-left">
                <h1>
                    Bad Advice Bot
                </h1>
                <hr>

                <div>
                    <!-- Go through every line in chat box's text and display -->
                    {{#each botText}}
                        <div>{{this}}</div>
                    {{/each}}
                </div>

            </div>

            <div id="user" class="float-right">
                <h1>
                    User
                </h1>
                <hr>

                <div>
                    <!-- Go through every line in user's text and display -->
                    {{#each userText}}
                        <div>{{this}}</div>
                    {{/each}}
                </div>
                <br>

                <!-- Area for user to enter text-->
                <textarea name="userQ" rows="10" cols="70"></textarea>
                <br>
                <input type="submit" value="Enter">

            </div>
        </div>

    </body>
</form>
